{% load static %}
<!-- Footer -->
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a href="{% url 'home:about_us' %}">درباره ما</a></li>
                    <li><a href="{% url 'product:product_list' %}">تمام محصولات</a></li>
                    <li><a href="{% url 'order:cart_detail' %}">سبد خرید</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
            </div>
            <div class="col-12 col-sm-4 col-lg-2">
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="{% static 'images/logo.png' %}" alt=""> روبیک مارکت
                <p>فروشگاه اينترنتی روبیک مارکت با همکاری و مشارکت تعدادي از علاقمندان حوزه سرگرمي و بازي ايجاد شده است.
                    اين مجموعه با دقتي خاص کوشيده که بهترين و جدیدترین بوردگيم ها و بازيها در ژانرها و سبک هاي مختلف را
                    گردآوري نمايد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encode43vfbb65gtabfb">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- /Footer -->

<!-- Copyright -->
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>
<!-- Copyright -->
